
.root {
    -fx-background-image: url('../Images/icy-tower-backround.jpg');
    -fx-background-size: cover;
}

@font-face {
    font-family: 'Icy tower font';
    src: url('../font/icy-tower-menu2.ttf');
}


Button  {
    -fx-text-fill: linear-gradient(to right, #fc0404, #00ff00);
    -fx-font-weight: bold;
    -fx-font-size: 26;
    -fx-text-stroke: white;
    -fx-text-stroke-width: 4px;
    -fx-background-image: url('../Images/floorBackround.png');
    -fx-background-size: contain;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
}



Button:hover {
    -fx-background-image: url('../Images/floorBackroundHover.png');
}

Label {
    -fx-effect: dropshadow(one-pass-box, white, 2, 1, 0, 0);
    -fx-font-size: 18;
    -fx-text-fill: linear-gradient(to right, #fc0404, #00ff00);
    -fx-font-weight: bold;
}

TextField {
    -fx-font-size: 18;
    -fx-text-fill: linear-gradient(to right, #fc0404, #00ff00);
    -fx-font-weight: bold;
}